@model GraemSheppardOnline.ViewModels.UsersIndexVM
@using System.Text.Json;  
@using GraemSheppardOnline.ViewModels 

@{
    ViewData["Title"] = "Users";
}
<style>
    .btn:focus {
        box-shadow: none;
        outline: none;
    }
    .btn:hover {
        background-color: #202020;
    }
</style>

<link rel="stylesheet" href="~/css/_tile.css" type="text/css" />
<div class="container main-container">
    <div class="row">
        <div class="col-12">
            <h2>Users</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <input class="form-control" placeholder="user@example.com" id="search-term">
                <div class="input-group-append">
                    <button disabled class="btn btn-outline-light" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label for="sort-by" class="control-label text-nowrap">Sort By:</label>
        </div>
        <div class="col">
            <div class="btn-toolbar mt-1" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" id="sort-by">
                    <button type="button" class="btn btn-outline-light">Last Active</button>
                    <button type="button" class="btn btn-outline-light">2</button>
                    <button type="button" class="btn btn-outline-light">3</button>
                    <button type="button" class="btn btn-outline-light">4</button>
                </div>

            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-12">
            <div id="results-view">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <i id="loading-icon" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    
</div>

@section Scripts {
    <script>
        let page = 0;
        let loading = false;
        $(() => {
            loadPartialView();

            if ($(document).height() >= $(window).height()) {
                console.log('ay');
                scrollResults();
            }

            $(window).scroll(function () {
                scrollResults();
            });

            $('#search-term').keyup( $.throttle (300, function () {
                loadPartialView();
            }));

            $('#sort-by .btn').click(function () {
                if ($(this).hasClass('btn-outline-dark')) {
                    $('#sort-by .btn').addClass('btn-outline-dark');
                    $('#sort-by .btn').removeClass('btn-dark');
                    $(this).addClass('btn-dark');
                    $(this).removeClass('btn-outline-dark');
                }
                
            });
            
        });

        

        

        function loadPartialView() {
            $.get("/Users/GetResults", { search: $("#search-term").val(), page: 0 }, function (data) {
                $("#results-view").html(data);
                page = 0;
            });
        }

        function scrollResults() {
            if (loading == true) { return; }
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 20) {
                loading = true;
                $.get("/Users/GetResults", { search: $("#search-term").val(), page: ++page }, function (data) {
                    if ($.trim(data)) {
                        $("#results-view").append(data);
                        loading = false;
                    } else {
                        $("#loading-icon").hide();
                        loading = false;
                    }

                });
            }
        }

        

        

    </script>
}
