.preview-text > i {
    transition: display 2s;
}

.main-header {
    height: calc(100vh - 55px);
    min-height: 500px;
    position: relative;
}

.social-icons {
    display: flex;
    top: 75%;
    
    justify-content: center;
}

.social-icon {
    font-size: 4em;
    padding: 0px;
    height: 56px;
    width: 56px;
    margin-left: 10px;
    margin-right: 10px;
}

.link-preview {
    height: 20px;
}

.email-body {
    width: 100%;
    height: 175px;
    padding: 10px;
    color: #202020;
    border-radius: 8px;
}

.social-icon:hover * {
    cursor: pointer;
    color: Highlight;
    transition: color 0.5s;
}

.social-icon * {
    color: white;
    transition: color 0.5s;
}

.header-title, .header-mission, .quick-links, .social-icons {
    position: absolute;
    width: 100%;
    text-align: center;
}

.header-title {
    top: 12%;
    user-select: none;
}

.header-mission {
    top: 30%;
    user-select: none;
}

.quick-links {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    top: 55%;
    user-select: none;
    width: 60%;
    margin-left: 20%;
}

.quick-links span {
    color: #BBBBBB;
    cursor: pointer;
    transition: color 0.2s;
}

.quick-links span:hover {
    color: Highlight;
    

}

.loader-container {
    float: right;
    width: 40px;
    height: 40px;
}

.loader {
    
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logo {
    opacity: 0;
    user-select: none;
    margin: 5px;
    height: 80px;
    flex-grow: 1;
}
.logos {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.1);
}


.quick-links * {
    
    cursor: default;
}

[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor: pointer;
    height: 60px;
    width: 80px;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 30%;
    color: #FFF;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
    0% {
        -webkit-transform: translate(0,-20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0,20px);
        opacity: 0;
    }
}

@-moz-keyframes ca3_fade_move_down {
    0% {
        -moz-transform: translate(0,-20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0,20px);
        opacity: 0;
    }
}

@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0,-20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0,20px);
        opacity: 0;
    }
}
